@model Schools.ViewModels.ParentEditViewModel

<div class="col-md-12">
    <div class="portlet box blue-hoki">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gift"></i>Edit Parent
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
            </div>
        </div>
        <div class="portlet-body form">
            <!-- BEGIN FORM-->
            <form asp-controller="Parent" asp-action="Edit" class="form-horizontal">
                <div class="form-body">

                    <div class="form-group">
                        <label class="col-md-3 control-label">First Name</label>
                        <div class="col-md-4">
                            <input asp-for="UserEditModel.FirstName" type="text" class="form-control" placeholder="First Name">
                            <span class="help-block"> Enter user first name. </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">Middle Name</label>
                        <div class="col-md-4">
                            <input asp-for="UserEditModel.MiddleName" type="text" class="form-control" placeholder="Middle Name">
                            <span class="help-block"> Enter user middle name. </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">Last Name</label>
                        <div class="col-md-4">
                            <input asp-for="UserEditModel.LastName" type="text" class="form-control" placeholder="Last Name">
                            <span class="help-block"> Enter user last name. </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">Students</label>
                        <div class="col-md-4">
                            <select asp-for="StudentIds" class="multi-select form-control" multiple="multiple">
                                @foreach (var student in Model.AllStudents)
                                {
                                    @if (Model.ParentStudents.Contains(student))
                                    {
                                        <option selected value="@student.Id">@student.FirstName @student.LastName</option>
                                    }
                                    else
                                    {
                                        <option value="@student.Id">@student.FirstName @student.LastName</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>

                    <input hidden asp-for="AllStudents"  value="@Model.AllStudents"/>

                    <input hidden asp-for="ParentStudents" value="@Model.ParentStudents" />

                    <input hidden asp-for="UserEditModel.UserId" value="@Model.UserEditModel.UserId" />

                </div>
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-9">
                            <button type="submit" class="btn green">Submit</button>
                            <a href="@Url.Action("Index", "Parent")" class="btn default">Cancel</a>
                        </div>
                    </div>
                </div>
            </form>
            <!-- END FORM-->
        </div>
    </div>

</div>