@model Schools.Models.ClassModels.ClassEditRequestModel

<div class="col-md-6">
    <div class="portlet box blue-hoki">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gift"></i>Edit Class
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
            </div>
        </div>
        <div class="portlet-body form">
            <!-- BEGIN FORM-->
            <form asp-controller="Class" asp-action="Edit" class="form-horizontal">
                <div class="form-body">

                    <input type="hidden" asp-for="Id" value="@Model.Id" />

                    <div class="form-group">
                        <label class="col-md-3 control-label">Name</label>
                        <div class="col-md-4">
                            <input asp-for="Name" type="text" class="form-control" value="@Model.Name" placeholder="Name">
                            <span class="help-block"> Enter class name. </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">Group</label>
                        <div class="col-md-4">
                            <input asp-for="Group" type="text" class="form-control" placeholder="Group">
                            <span class="help-block"> Enter class group. </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">Subjects</label>
                        <div class="col-md-4">
                            <select asp-for="SubjectIds" class="multi-select form-control" multiple>
                                @foreach (var subject in Model.AllSubjects)
                                {
                                    @if (subject.IsForClass)
                                    {
                                        <option selected value="@subject.Id">@subject.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@subject.Id">@subject.Name</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>

                </div>
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-9">
                            <button type="submit" class="btn green">Submit</button>
                            <button type="reset" class="btn default">Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
            <!-- END FORM-->
        </div>
    </div>

</div>

