@using Schools.Data.Models
@model IEnumerable<Class>

<div class="col-md-12">
    <!-- BEGIN SAMPLE TABLE PORTLET-->
    <div class="portlet">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-table"></i>Classes
            </div>
            <div class="tools">
                <a href="@Url.Action("Create", "Class")" class="btn dark btn-sm btn-outline sbold uppercase" style="height: auto;">
                    <i class="fa fa-share"></i> Create
                </a>
                <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
            </div>
        </div>
        <div class="portlet-body">
            <div class="table-scrollable">
                <table class="table table-striped table-bordered table-advance table-hover">
                    <thead>
                        <tr>
                            <th>
                                <i class="fa fa-user"></i> Name
                            </th>
                            <th>
                                <i class="fa fa-bookmark"></i> Group
                            </th>
                            <th>
                                <i class="fa fa-bookmark"></i> SchoolId
                            </th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var classModel in Model)
                        {
                        <tr>
                            <td>
                                @classModel.Name
                            </td>
                            <td> @classModel.Group </td>
                            <td> @classModel.SchoolId</td>
                            <td>
                                <a href="@Url.Action("Edit", "Class" , new { id = classModel.Id })" class="btn dark btn-sm btn-outline sbold uppercase">
                                    <i class="fa fa-share"></i> Edit
                                </a>
                            </td>
                            <td>
                                <a href="@Url.Action("Index", "Subject" , new { id = classModel.Id })" class="btn blue btn-sm btn-outline sbold uppercase">
                                    <i class="fa fa-share"></i> Remove
                                </a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- END SAMPLE TABLE PORTLET-->
</div>