@model Schools.ViewModels.ParentStudentsViewModel

<div class="col-md-12">
    <!-- BEGIN SAMPLE TABLE PORTLET-->
    <div class="portlet">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-table"></i>Students
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
            </div>
        </div>
        <div class="portlet-body">
            <div class="table-scrollable">
                <table class="table table-striped table-bordered table-advance table-hover">
                    <thead>
                        <tr>
                            <th>
                                <i class="fa fa-briefcase"></i> First Name
                            </th>
                            <th class="hidden-xs">
                                <i class="fa fa-briefcase"></i> Middle Name
                            </th>
                            <th>
                                <i class="fa fa-briefcase"></i> Last Name
                            </th>
                            <th class="hidden-xs">
                                <i class="fa fa-envelope-o"></i> Email
                            </th>
                            <th>
                                <i class="fa fa-graduation-cap"></i> School
                            </th>
                            <th>
                                <i class="fa fa-graduation-cap"></i> Class
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var student in Model.ParentStudents)
                        {
                            <tr>
                                <td>
                                    @student.FirstName
                                </td>
                                <td class="hidden-xs">
                                    @student.MiddleName
                                </td>
                                <td>
                                    @student.LastName
                                </td>
                                <td class="hidden-xs">
                                    @student.Email
                                </td>
                                <td> @student.SchoolName </td>
                                <td> @student.Class </td>
                                <td>
                                    <a href="@Url.Action("StudentBook", "Student", new { userId = student.UserId })" class="btn dark btn-sm btn-outline sbold uppercase">
                                        <i class="fa fa-share"></i> View
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- END SAMPLE TABLE PORTLET-->
</div>
